h1{
	text-align: center;
	color: white;
}
body{
	background-color: black;
}
#link{
	text-align: center;
	display: block;
	color: white;
}
div.gallery{
	margin: 10px 50px;
}
.gallery img{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}
.hidden a:visited{
	color: black;
}
.hidden a:active{
	color: black;
}
footer{
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
}



